.about_section {
  padding-top: 60px;
}

.row {
  width: 100%;
}
.flex_row {
  display: flex;
}
.left_sec,
.right_sec {
  padding: 0 15px;
}

.left_sec {
  width: 60%;
}
.right_sec {
  width: 450px;
}

.blue_title {
  font-size: large;
  color: #0d3d6b;
  font-weight: 100;
  margin-bottom: 30px;
}

.margin_para {
  margin: 15px 0;
}

.left_padding {
  padding-left: 50px;
}

.table_data {
  width: 100%;
}
.table1,
.table2,
.table3 {
  margin-top: 60px;
  width: 100%;
}
.table {
  width: 100%;
}

table {
  border-collapse: collapse;
  margin-bottom: 25px;
}

tr {
  font-size: 0.8rem;
  font-weight: 550;
}
td,
th {
  border: none;
}

.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table_head {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #103f6b;
  color: white;
  border: none;
}

.grey_row {
  background-color: rgba(0, 0, 0, 0.05);
}

.padding_heading {
  padding-top: 50px;
  padding-right: 15px;
}

.para {
  font-weight: 100;
  font-size: 0.9rem;
  padding: 10px 20px;
}

.ques_ans {
  margin-top: 50px;
}

.ques_box {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid #f9b618;
}
.row {
  justify-content: space-between;
}
.img {
  width: 30%;
}
.img a img {
  width: 100%;
}

.clat_entrance {
  padding-bottom: 60px;
}
.form {
  border: 1px solid #f8a120;
  border-radius: 20px;
  position: sticky;
  top: 138px;
}

.form_input {
  padding: 20px;
}

.form_input h4 {
  color: #0d3d6b;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.form_box {
  margin-bottom: 1rem;
}

.data_box {
  padding: 10px 20px;
  color: #999999;
  border: 1px solid rgb(161, 154, 154);
  outline: none;
  border-radius: 25px;
  width: 100%;
}

.data_box:hover {
  border: 1px solid rgb(73, 183, 230);
}

.input_box {
  width: 35% !important;
}

.flex_input {
  display: flex;
  justify-content: space-between;
}

.form_btn {
  color: #103f6b;
  background-color: #f8a120;
  border: none;
  border-radius: 70px;
  padding: 0.5rem 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.form_btn:hover {
  background-color: #d2c813;
}

.form_btn span {
  margin-right: 5px;
}

@media (max-width: 1480px) {
  .right_sec {
    width: 400px;
  }
  .left_sec {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .row {
    justify-content: center;
  }
  .left_sec {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .sec_container {
    padding: 0 10px;
    margin: 0 auto;
  }
}
